.header-icon img {
    width: 25px;
    border-radius: 50%;
}

.header-icon {
    padding: 0.6em;
    border-radius: 50%;
}

.header-icon:hover {
    background-color: rgb(54, 54, 54);
}

.header-icon img:hover {
    background-color: rgb(54, 54, 54);
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.8em;
    font-size: 14px;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;   
}

header > div {
    margin: 0.6em;
}

header a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

header a:hover {
    text-decoration: underline rgb(240, 240, 240);
}
